<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="{{ meta_description }}" name="description">
    <meta content="{{ meta_keywords }}" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/authenticate.css' %}" rel="stylesheet">

    <!-- Page title -->
    {% if title %}
    <title>{{ site_name }}. {{ title }}</title>
    {% else %}
    <title>{{ site_name }}.</title>
    {% endif %}

</head>

<body class="index-page">

    <main class="main px-2 py-3">
        {% if messages %}
        {% for message in messages %}
        <div class=" col-lg-7 container">
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock content %}
    </main>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/authenticate.js' %}"></script>
    <script src="{% static 'assets/vendor/htmx/htmx.min.js' %}" defer></script>

</body>

</html>