{% extends "blogs/base.html" %}

{% block nav %}
  <ul>
    <li><a href="{% url 'home' %}" class="">Home</a></li>
    <li><a href="#">P2P</a></li>
    <li><a href="#">FreeLance</a></li>
    <li><a href="{% url 'event-home' %}">Events</a></li>
    <li><a href="{% url 'blog-home' %}" class="active">Blogs</a></li>
    <li><a href="{% url 'home' %}#contact">Contact</a></li>
    <li><a href="{% url 'about' %}">About</a></li>
  </ul>
{% endblock nav %}

{% load static %}
{% block content %}
<div class="page-title" data-aos="fade">
  <nav class="breadcrumbs">
    <div class="container">
      <ol>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li class="current">Blog</li>
      </ol>
    </div>
  </nav>
</div>

<section id="blog-posts" class="blog-posts">
  <div class="container">
    <div class="row">
    {% for post in posts %}  
      <div class="col-lg-4">
        <article>
          <div class="post-img">
            <img src="{% static 'assets/img/blog/blog-1.jpg' %}" alt="" class="img-fluid">
          </div>
          <p class="post-category">{{ post.category.name }}</p>
          <h4 class="title">
            <a href="#">{{ post.title }}</a>
          </h4>
          <div class="d-flex align-items-center">
            <img src="{{ post.author.image.url }}" alt="" class="img-fluid post-author-img flex-shrink-0">
            <div class="post-meta">
              <div class="post-author">{{ post.author.username }}</div>
              <div class="post-date">{{ post.updated_at }}</div>
            </div>
          </div>
        </article>
      </div>
    {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
